body{
  font-family: "Karla",sans-serif;
  background-color: #111827;
  padding: 50px;
}
#subtitle{
  color: #D5D4D8;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: 10px;
}
.password-box{
  width: 211px;
  height: 39px;
  background-color: #273549;
  margin: 20px 20px;
  color: #55F991;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px 0 0;
  border-radius: 6px;
  font-size: 15px;
}
.boxes{
  display: flex;

}
.line{
  width: 446px;
  height: 0px;
  border: 1px solid #2F3E53;
  margin: 35px 0;
}
.create-btn{
  width: 191px;
  height: 42px;
  border-radius: 6px;
  background-color: #10B981;
  color: white;
  padding: 9px 17px 9px 15px;
  font-family: "Karla", sans-serif;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}
.second-line{
  color: #10B981;
  display: block;
}
h1{
  font-weight: bold;
  color: white;
}
#user-el{
  background-color: #273549;
  color: white;
  width: 191px;
  height: 42px;
  background-color: #273549;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 0 10px;
  margin-bottom: 15px;
  outline: none;
  font-family: "Karla", sans-serif;
}
#userEl::placeholder {
  color: #9CA3AF;
}